header {
    background-color: #0074d9;
    margin-bottom: 50px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px 20px 49px;
    list-style: none;
}

header nav ul li {
    padding-right: 100px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    color: black;

}


/* header second */

.second-header {
    background-color: #0074d9;
    margin-bottom: 50px;
}

.second-header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 49px;
    list-style: none;
}

.second-header nav ul li {
    padding-right: 100px;
}

.second-header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.second-header nav ul li a:hover {
    color: black;
}

.btn {
    color: #fff !important;
}

/* third header */
.third-header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.third-header nav h1 {
    padding: 15px;
}

.third-header nav h1 a {
    font-size: 80px;
    color: #f58a00;
    text-decoration: none;
}

.third-header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 49px;
    list-style: none;
}

.third-header nav ul li {
    padding-right: 100px;
}

.third-header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
}

.third-header nav ul li a:hover {
    color: #e5830b;
    border-bottom: 4px solid #e5830b;

}

@media screen and (max-width:1000px) {

    header nav ul {
        flex-direction: column;
        column-gap: 20px;
    }

    header nav ul li {
        padding-right: 0px;
        margin-top: 10px;
    }

    .third-header nav {
        flex-direction: column;
        justify-content: center;
    }

    .third-header nav ul {
        flex-direction: column;
        justify-content: center;
    }

}